# © OpenShot Studios, LLC
#
# SPDX-License-Identifier: LGPL-3.0-or-later

/cmake-build-debug
/cmake-build-release
/videos
/build*
*.DS_Store
.pydevproject
.settings
.idea/*
.project
.cproject
/.metadata/
tags
*~
